/* Estilos para o header */
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
}

header .btn {
  margin: 0 5px;
  position: absolute;
  top: 20px;
}

header .btn.home-button {
  position: absolute;
  left: 20px;
}

header .btn.logout-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/static/background_tech.png") no-repeat center center fixed;
  background-size: cover;
}

/* Estilos comuns para os dashboards do administrador e do técnico */
.container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto; /* Aumenta a margem superior para descer o container */
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Define a transparência aqui */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.container h2 {
  text-align: center;
  margin-bottom: 25px;
  background-color: transparent; /* Garante que o fundo do título seja transparente */
  color: #000000; /* Cor do texto para garantir visibilidade */
}

.list-group {
  list-style: none;
  padding: 0;
}

/* Adicionando cores aos links */
.list-group-item[href="{{ url_for('cadastrar_reparo') }}"] {
  color: #ff0000; /* Cor para o link "Cadastrar Reparo" */
}

.list-group-item[href="{{ url_for('reparo_historico') }}"] {
  color: #00ff00; /* Cor para o link "Histórico de Reparos" */
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item {
  color: #0056b3;
  text-decoration: none;
  font-weight: 600;
}

.list-group-item:hover {
  text-decoration: underline;
}

/* Estilos para o footer */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
}

footer p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

@media (max-width: 600px) {
  header {
    padding: 10px;
    font-size: 16px;
  }

  header h1 {
    font-size: 24px;
  }

  header .btn {
    margin: 0 2px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 12px;
    font-size: 18px;
  }

  header h1 {
    font-size: 26px;
  }

  header .btn {
    margin: 0 3px;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 15px;
    font-size: 20px;
  }

  header h1 {
    font-size: 30px;
  }

  header .btn {
    margin: 0 5px;
  }
}
